.slide {
    width: 100%;
    overflow-y: auto;
    font-weight: 400;
    display: flex;
    gap: 25px;

    @media (width >= 1440px) {
        gap: min(7.41vh, 80px);

        &::-webkit-scrollbar {
            display: none;
        }

        scrollbar-width: none;
    }
}

.article {
    width: 60vw;
    flex: 0 0 60vw;

    @media (width >= 1440px) {
        width: calc((100% - min(7.71vh, 80) * 2) / 3);
        flex: 0 0 calc((100% - min(7.71vh, 80) * 2) / 3);
    }
}

.date {
    font-family: "Bebas Neue", sans-serif;
    font-size: 16px;
    line-height: 19.2px;
    color: #3877EE;
    margin-bottom: 15px;

    @media (width >= 1440px) {
        font-size: min(2.31vh, 25px);
        line-height: min(2.78vh, 30px);
        margin-bottom: min(1.39vh, 15px);
    }
}

.text {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 20.3px;
    height: 80px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;


    @media (width >= 1440px) {
        -webkit-line-clamp: 3;
        font-size: min(1.85vh, 20px);
        line-height: min(2.77vh, 30px);
        height: min(8.33vh, 90px);
    }
}

