.h1 {
    margin: 0 0 56px;
    max-width: 30%;

    @media (width >= 1440px) {
        margin: 0;
        max-width: 30%;
        position: relative;
    }
}

.layout {
    padding-top: 59px;
    padding-bottom: 20px;

    @media (width >= 1440px) {
        padding: min(15.74vh, 170px) 80px min(9.63vh, 104px);
        border-right: 1px solid #42567A;
        border-left: 1px solid #42567A;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.line {
    display: none;

    @media (width >= 1440px) {
        display: block;
        position: absolute;
        left: -80px;
        top: 10px;
        transform: translateX(-50%);
        width: 6px;

        /* height: 120px; */
        background: linear-gradient(180deg, #3877EE 0%, #EF5DA8 100%);
        height: min(11.11vh, 120px);
    }
}