.h1 {
font-size: 20px;
font-weight: 700;
line-height: 24px;

@media (width >= 1440px) {
    /* font-size: 56px;
    line-height: 67.2px; */
    font-size: min(5.19vh, 56px);
    line-height: min(6.2vh, 67px);
}
}