.swiperCarousel {
    padding: 20px 0;
}

.slide {
    width: 100vw;
}

.buttons {
    position: absolute;
    bottom: 13px;
    display: flex;
    gap: 8px;
}

.prevBtn,
.nextBtn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: inherit;
    border: 1px solid #42567A80;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrowRight {
    transform: rotate(180deg);
}

.pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
}

.bullet {
    display: inline-block;
    width: 6px;
    height: 6px;
    flex: 0 0 6px;
    border-radius: 50%;
    background-color: #42567A;
    opacity: 0.4;
}

.bulletActive {
    opacity: 1;
}