.carouselWrapper {
    position: relative;
}

.swiperCarousel {
    padding: 20px 0;
}

.slide {
    width: 100vw;
}

.buttons {
    position: absolute;
    bottom: 13px;
    display: flex;
    gap: 8px;


    @media (width >= 1440px) {
        /* top: calc(-56px - 25px);  */

        /* bottom: 270px */
        bottom: min(25vh, 270px);
    }
}

.prevBtn,
.nextBtn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: inherit;
    border: 1px solid #42567A80;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @media (width >= 1440px) {
        /* width: 50px;
        height: 50px; */
        width: min(4.63vh, 50px);
        height: min(4.63vh, 50px);
    }
}

.arrowRight {
    transform: rotate(180deg);
}

.pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);

    @media (width >= 1440px) {
        display: none;
    }
}

.bullet {
    display: inline-block;
    width: 6px;
    height: 6px;
    flex: 0 0 6px;
    border-radius: 50%;
    background-color: #42567A;
    opacity: 0.4;
}

.bulletActive {
    opacity: 1;
}

.info {
    position: absolute;
    top: -10px;
    transform: translateY(-100%);
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.12px;

    /* text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none; */

    @media (width >= 1440px) {
        /* top: -20px; */
        top: max(-1.85vh, -20px);
    }
}

.scrollButton {
    display: none;

    @media (width >= 1440px) {
        display: block;

        /* width: 40px;
        height: 40px; */
        width: min(3.7vh, 40px);
        height: min(3.7vh, 40px);
        cursor: pointer;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 15px 0 #3877EE1A;
        position: absolute;
        border: none;
        right: -50px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.hidden {
    display: none;
}

.circularPagination {
    display: none;

    @media (width >= 1440px) {
        display: block; 
        position: absolute;
        top: min(22vh, 240px);
        left: 50%;
        transform: translate(-50%);
        z-index: 2;
    }
}