.wrapper {
    position: relative;
    z-index: 2;
}

.button {
    color: #42567A;
    background-color: transparent;
    text-align: center;
    font-family: "PT Sans", sans-serif;
    border-radius: 100%;
    z-index: 3;
    cursor: pointer;

    /* width: 56px;
    height: 56px; */
    width: min(5.19vh, 56px);
    height: min(5.19vh, 56px);
   
    position: relative;

    .dot {
        background-color: #42567A;
        /* width: 56px;
        height: 56px; */
        width: min(5.19vh, 56px);
        height: min(5.19vh, 56px);
        position: absolute;
        border-radius: 50%;
        top: 0;
        left: 0;
        border: 1px solid transparent;
        transform:scale(0.1);
        transform-origin: center center;
        font-size: 0;
        line-height: 0;
        transition: transform 0.3s ease, background-color 0.3s ease, border 0.3s ease;
    }

    &:hover .dot {
        transform:scale(1);
        background-color: #F4F5F9;;
        border: 1px solid #303E5880;
        font-size: min(1.85vh, 20px);
        line-height: min(5.19vh, 56px);
    }
}

.active {
    /* background-color: blue; */
    /* width: 56px;
    height: 56px; */
    
    /* font-size: 20px;
    line-height: 56px; */
    

    .dot {
        transform:scale(1);
        background-color: #F4F5F9;;
        border: 1px solid #303E5880;
        font-size: min(1.85vh, 20px);
    line-height: min(5.19vh, 56px);
    }
}

.svg {
    /* height: 530px; */
    overflow: visible;

    /* width: 530px; */
    width: min(530px, 49.07vh );
    height: min(530px, 49.07vh );
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title {
    position: absolute;
    top: 0;
    left: 100%;
    opacity: 0;
    font-family: PT Sans, sans-serif;
    font-size: min(1.85vh, 20px);
    font-weight: 700;
    line-height: min(30px, 2.78vh);
}

.active .title {
    opacity: 1;
}